body {
    background: rgb(153, 194, 221);
    gap: 2rem;
    font-family: Roboto, "Helvetica Neue";
}

.titles{
    font-size: 30px;
    color:blueviolet;
    text-align: center;
}

.info {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.details{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-bottom: 10px;
}

.title{
    text-align: center;
    color:black;
    margin-top: 10px;
}